[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pyexcel = "*"
pyexcel-sortable = "*"
pyexcel-handsontable = "*"

[dev-packages]
pytest = "*"
pytest-doctestplus = "*"

[requires]
python_version = "3.7"
